table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .mat-elevation-z8 {
    box-shadow: none;
  }
 
  td[_ngcontent-c4], th[_ngcontent-c4] {
    width:10%;
  }