$primary-color: #2f7ed8;
$primary-light-color: #2f7ed8;
$primary-dark-color: #2f7ed8;
$primary-text: black;

$secondary-color: black;
$secondary-light-color: black;
$secondary-dark-color: black;
$secondary-text: white;