@import "../assets/variables";

.main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 200px;
border: solid $primary-color;
}

.mainContainer .menu{

}
.mainContainer .content{

}